body {
    margin: 0;
    font-family: "Arial", sans-serif;
}


.wrapper {
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 28px;
}

.column {
    min-width: 219px;
    //width: 219px;
    box-sizing: border-box;
}

.aic {
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #24242b;
    font-family: "Roboto Slab";
}

h2 {
    margin: 0 0 24px 0;
    font-size: 24px;
    font-weight: 700;
    color: #24242b;
    font-family: "Roboto Slab";
}

h3 {
    margin: 8px 0 6px 0;
    font-size: 14px;
}

h3 a {
    text-decoration: none;
    color: #1f1f56;
}

h3 a:hover {
    text-decoration: underline;
}

.border {
    border-bottom: solid 1px #cdcddd;
}

hr {
    margin: 0;
    border: none; 
}


.hover_orange:hover {
    color: #fd8300;
}

.hover_grey:hover {
    background-color: #cecedd;   
}

.hover_blue:hover {
    color: #1f1f56;
}

.hover_cta:hover {
    color: #fff;
    background-color: #fd8300;
}

sup {
    font-size: 0.6em;
}

.header {
    padding: 15.5px 0;
    background-color: #1f1f56;
}

.header ul {
    margin: 0 -14px;
    padding-left: 0;
    list-style: none;
}

.header li {
    display: inline-block;
    margin: 0 14px;
}

.menu a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
    transition: all 0.5s ease;
}

.contact-info {
    padding: 20px 0;
}

.phones,
.messengers {
    padding-left: 48px;
}

.phones p,
.messengers p {
    margin: 10px 0;;
}

.phones a.tel {
    font: bold 18px/24px Arial;
    color: #25252c;
    text-decoration: none;
    transition: all 0.5s ease;
}

.phones a.tel:hover {
    text-decoration: none;
    color: #fd8300;
}

.messengers a {
    font-size: 16px;
    line-height: 24px;
    transition: all 0.5s ease;
}

p a.mail {
    color: #25252c; 
}

p a.skype {
    color: #25252c;
    text-decoration: none;
}

.cta {
    text-align: right;
}

.cta a {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #25252c;
    text-decoration: none;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: all 0.5s ease;
}


.proposition {
    text-align: center;
    background: #090606 url(../img/background.jpg) center/cover;
    padding: 60px 0;
}

.prop-title {
    margin: 0 0 8px 0;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    color: #fff;
}

.prop-text {
    margin: 0 0 10px 0;
    margin-top: 0;
    font-size: 14px;
    color: #fff;
}

.prop-cost {
    margin: 0;
    color: #fd8300;
    }

.prop-cost span {
    font-size: 40px;
    font-weight: bold;
}

.content {
    margin: 0;
    max-width: 713px;
}

.company {
    margin: 0;
    padding: 37px 0 35px 0;
}

.company p {
    margin: 14px 0;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.details {
    font-size: 14px;
    color: #fd8300;
    transition: all 0.5s ease;
}

.sidebar {
    margin: 37px 0;
}

.aside_menu p {
    margin: 0;
    padding: 10px 15px 9px;
    border-radius: 3px 3px 0 0;
    color: #fff;
    font: 700 16px/1.5em "Roboto Slab";
    background-color: #1f1f56;
}

.aside_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.aside_menu a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #25252c;
    background-color: #e4e4ec;
    border-top: 1px solid #cdcddd;
}

.sub-menu a {
    padding-left: 30px;
    color: #666;
}


.figcaption p {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

.figure {
    margin: 0;
}

figure.row {
    margin: 0;
}

.cards {
    margin: 0;
    padding: 27px 0 45px 0;
}

.contacts {
    padding: 33px 0 32px 0;
    background-color: #ededf5;
}

.contacts ul {
    margin: 0;
    padding: 0;
}

.contacts li {
    list-style: none;
    color: #666666;
}

.contacts a {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
}

.footer .mail {
    text-decoration: underline;
}

.contacts a:hover {
    text-decoration: underline;
    color: #fd8300;
}

.copyright {
    background-color: #dcdce6;;
}

.copyright p {
    margin: 0;
    padding: 15px 0 16px 0;
    text-align: center;
    font-size: 13px;
    color: #9999a6;
}


