body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.row {
    display: flex;
    justify-content: space-between;
    column-gap: 28px;
    row-gap: 28px;
}

.column {
    min-width: 219px;
    box-sizing: border-box;
}

.aic {
    align-items: center;
}

.header {
    padding: 15.5px 0;
    background-color: #1f1f56;
}

.header ul {
    margin: 0 -14px;
    padding-left: 0;
    list-style: none;
}

.header li {
    display: inline-block;
    margin: 0 14px;
}

.menu a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
    transition: all 0.5s ease;
}

.menu a:hover {
    color: #fd8300;
}

.contact-info {
    padding: 20px 0;
}

.phones,
.messengers {
    padding-left: 48px;
}

.phones p,
.messengers p {
    margin: 10px 0;;
}

.phones a {
    font: bold 18px/24px Arial;
    color: #25252c;
    text-decoration: none;
}

.messengers a {
    font-size: 16px;
    line-height: 24px;
}

.mail {
    color: #25252c; 
}

.skype {
    color: #25252c;
    text-decoration: none;
}

.cta a {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #25252c;
    text-decoration: none;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.cta a:hover {
    color: #fff;
    background-color: #fd8300;
}

.proposition {
    text-align: center;
    background: #090606 url(../img/background.jpg) center/cover;
    padding: 60px 0;
}

.prop-title {
    margin: 0 0 20px 0;
    margin-top: 0;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    color: #fff;
}

.prop-text {
    margin: 0 0 20px 0;
    margin-top: 0;
    font-size: 14px;
    color: #fff;
}

.prop-cost {
    margin: 0;
    margin-top: 0;
    color: #fd8300;
}

.prop-cost span {
    font-size: 40px;
    font-weight: bold;
}