@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
}


.wrapper {
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    column-gap: 28px;
    row-gap: 28px;
}

.column {
    min-width: 219px;
    box-sizing: border-box;
}

.aic {
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #24242b;
    font-family: "Roboto Slab";
}

h2 {
    margin: 0 0 24px 0;
    font-size: 24px;
    font-weight: 700;
    color: #24242b;
    font-family: "Roboto Slab";
}

h3 {
    margin: 8px 0 6px 0;
    font-size: 14px;
    text-transform: uppercase;
}

h3 span {
    text-transform: lowercase;
}

h3 a {
    text-decoration: none;
    color: #1f1f56;
}

h3 a:hover {
    text-decoration: underline;
}

hr {
    margin: 0;
    border: none;
    border-bottom: solid 1px #cdcddd;
}

a {
    position: relative;
}

.hover_orange:hover {
    color: #fd8300;
}

.hover_grey:hover {
    background-color: #cecedd;   
}

.hover_blue:hover {
    color: #1f1f56;
}

.hover_cta:hover {
    color: #fff;
    background-color: #fd8300;
}

sup {
    font-size: 0.6em;
}

.text-right {
    text-align: right;
}

.header {
    padding: 15.5px 0;
    background-color: #1f1f56;
}

.header ul {
    margin: 0 -14px;
    padding-left: 0;
    list-style: none;
}

.header li {
    display: inline-block;
    margin: 0 14px;
}

.menu a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
    transition: all .5s ease;
}

.social a {
    display: block;
    background: url(../img/sprites.png) no-repeat;
}

a.fb {
    width: 10px;
    height: 19px;
    background-position: 0 0;
    transition: all .5s ease;
}

a.fb:hover {
    background-position: 0 -21px;
}

a.tw {
    width: 18px;
    height: 15px;
    background-position: -32px 0;
    transition: all .5s ease;
}

a.tw:hover {
    background-position: -32px -21px;
}

a.ig {
    width: 19px;
    height: 19px;
    background-position: -12px 0;
    transition: all .5s ease;
}

a.ig:hover {
    background-position: -12px -21px;
}

.contact-info {
    padding: 25.75px 0;
}

.details {
    font-size: 14px;
    color: #fd8300;
    transition: all .5s ease;
}

.phones-top,
.messengers-top {
    padding-left: 48px;
}

.phones-top,
.messengers-top {
    padding-left: 48px;

}

.phones-top {
position: relative;
}

.messengers-bottom {
    padding-left: 28px;
}

.phones-bottom {
    padding-left: 27px;
}

div.phones-bottom p {
    margin-top: 3px;
}

.phones-top p,
.phones-bottom p,
.messengers-top p,
.messengers-bottom p {
    margin: 5px 0;
}

.messengers-bottom p {
    margin: 1px 0 2px;
}

.phones-top a.tel,
.phones-bottom a.tel {
    font: bold 18px/24px Arial;
    color: #25252c;
    text-decoration: none;
    transition: all .5s ease;
}

.phones-top a.tel:hover,
.phones-bottom a.tel:hover {
    text-decoration: none;
    color: #fd8300;
}

.tel-icon:before {
    content: "";
    position: absolute;
    left: -28px;
    top: 2px;
    width: 16px;
    height: 17px;
    background: url(../img/sprites.png) no-repeat -52px -21px;
}

div.phones-top:after {
    content: "";
    position: absolute;
    left: 238px;
    top: 6px;
    width: 1px;
    height: 51px;
    background-color: #e3e3eb;
} 

.messengers-top a,
.messengers-bottom a {
    font-size: 16px;
    line-height: 24px;
    transition: all .5s ease;
}

p a.mail {
    color: #25252c;
    text-decoration: underline;
}

.mail-icon:before {
    content: "";
    position: absolute;
    left: -28px;
    top: 2px;
    width: 17px;
    height: 13px;
    background: url(../img/sprites.png) no-repeat -70px -21px;
}

p a.skype {
    color: #25252c;
    text-decoration: none;
}

.skype-icon:before {
    content: "";
    position: absolute;
    left: -28px;
    top: -1px;
    width: 19px;
    height: 18px;
    background: url(../img/sprites.png) no-repeat -89px -21px;
}

.cta {
    text-align: right;
}

.cta a {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #25252c;
    text-decoration: none;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: all .5s ease;
}


.proposition {
    text-align: center;
    background: #090606 url(../img/background.jpg) center/cover;
    padding: 60px 0;
}

.prop-title {
    margin: 0 0 8px 0;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    color: #fff;
}

.prop-text {
    margin: 0 0 10px 0;
    margin-top: 0;
    font-size: 14px;
    color: #fff;
}

.prop-cost {
    margin: 0;
    color: #fd8300;
    font-size: 24px;
    font-weight: bold;
    }

.prop-cost span {
    font-size: 40px;
}

.content {
    margin: 0;
    max-width: 713px;
}

.content-price {
    margin: 0;
}

.company {
    margin: 0;
    padding: 37px 0 35px 0;
}

.company p {
    margin: 14px 0;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.price {
    margin: 0;
    padding: 33px 0 35px 0;
}

.price p {
    margin: 14px 0;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

table {
    border-collapse:collapse;
    width: 100%;
}

thead {
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: left;
    color: #fff;
    background-color: #1f1f56;
}

tbody {
    font-size: 14px;
    color: #666666;
    background-color: #e4e4ec;
}

tbody tr:hover {
    color: #fff;
    background-color: #fd8300;
}

th {
    margin: 0;
    padding: 14.5px 20px 11.5px 20px;
}

td {
    margin: 0;
    padding: 12px 20px 11px 20px;
    border-top: 1px solid #cdcddd;
}

.info {
    font-size: 13px;
    color: #9999a6;
}

.details {
    font-size: 14px;
    color: #fd8300;
    transition: all .5s ease;
}

.sidebar {
    margin: 37px 0;
}

.aside_menu {
    position: sticky;
    top: 37px;
}

.aside_menu p {
    margin: 0;
    padding: 11px 15px 10px;
    border-radius: 3px 3px 0 0;
    color: #fff;
    font: 700 16px/1.5em "Roboto Slab";
    background-color: #1f1f56;
}

.aside_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.aside_menu > ul > li > a:hover {
    color: #fff;
    border-color: #fd8300;
    background-color: #fd8300;
}

.aside_menu a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #25252c;
    background-color: #e4e4ec;
    border-top: 1px solid #cdcddd;
}

.aside_menu > ul > li > a:before {
    content: "";
    position: absolute;
    left: 197px;
    top: 16px;
    width: 8px;
    height: 12px;
    background: url(../img/sprites.png) no-repeat -109px -20px;
}

.sub-menu a {
    padding-left: 30px;
    color: #666;
}

.sub-menu > li > a:hover {
    background-color: #cecedd;
}


.figcaption p {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

.figure {
    margin: 0;
}

figure.row {
    margin: 0;
}

.cards {
    margin: 0;
    padding: 27px 0 45px 0;
}

.contacts {
    padding: 33px 0 32px 0;
    background-color: #ededf5;
}

.contacts ul {
    margin: 0;
    padding: 0;
}

.contacts li {
    list-style: none;
    color: #666666;
}

.contacts a {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    transition: all .5s ease;;
}

.contacts a:hover {
    text-decoration: underline;
    color: #fd8300;
}

.copyright {
    background-color: #dcdce6;;
}

.copyright p {
    margin: 0;
    padding: 15px 0 16px 0;
    text-align: center;
    font-size: 13px;
    color: #9999a6;
}


