body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
    column-gap: 28px;
    row-gap: 28px;
}

.column {
    min-width: 219px;
    box-sizing: border-box;
}

.aic {
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #24242b;
    font-family: "Roboto Slab";
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #24242b;
    font-family: "Roboto Slab";
}

.border {
    border-bottom: solid 1px #cdcddd;
}

.header {
    padding: 8px 0;
    background-color: #1f1f56;
}

.header ul {
    margin: 0 -14px;
    padding-left: 0;
    list-style: none;
}

.header li {
    display: inline-block;
    margin: 0 14px;
}

.menu a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
    transition: all 0.5s ease;
}

.menu a:hover {
    color: #fd8300;
}

.contact-info {
    padding: 20px 0;
}

.phones,
.messengers {
    padding-left: 48px;
}

.phones p,
.messengers p {
    margin: 10px 0;;
}

.phones a {
    font: bold 18px/24px Arial;
    color: #25252c;
    text-decoration: none;
}

.messengers a {
    font-size: 16px;
    line-height: 24px;
}

.mail {
    color: #25252c; 
}

.skype {
    color: #25252c;
    text-decoration: none;
}

.cta a {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #25252c;
    text-decoration: none;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.cta a:hover {
    color: #fff;
    background-color: #fd8300;
}

.proposition {
    text-align: center;
    background: #090606 url(../img/background.jpg) center/cover;
    padding: 60px 0;
}

.prop-title {
    margin: 0 0 8px 0;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    color: #fff;
}

.prop-text {
    margin: 0 0 10px 0;
    margin-top: 0;
    font-size: 14px;
    color: #fff;
}

.prop-cost {
    margin: 0;
    color: #fd8300;
}

.prop-cost span {
    font-size: 40px;
    font-weight: bold;
}

.content {
    margin: 0;
    max-width: 713px;
}

.company {
    margin: 0;
    padding: 37px 0;
}

.company p {
    margin: 14px 0;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.details {
    font-size: 14px;
    color: #fd8300;
}

.details:hover {
    color: #1f1f56;
}

.aside {
    max-width: 219px;
    padding: 37px 0;
}

.aside p {
    margin: 0;
}

.aside ul {
    margin: 0;
    padding-left: 0;
}

.aside li {
    padding: 14px 15px;
    font-size: 14px;
    list-style: none;
    background-color: #e4e4ec;
}

.menu_top {
    padding: 14px 15px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto Slab";
    color: #fff;
    border-radius: 3px 3px 0 0;
    background-color: #1f1f56;
}

li.menu_category {
    color: #fff;
    background-color: #fd8300;
}

li.menu_dropdown {
    color: #666666;
    padding: 0 0 0 15px;
}

.menu_hover:hover {
    margin: 0 0 0 -15px;
    padding-left: 30px;
    background-color: #cecedd;   
}

.cards {
    margin: 0;
}

figure.row {
    margin: 0;
}

.cards {
    margin: 0;
    padding: 37px 0;
}

.contacts {
    background-color: #ededf5;
}

.copyright {
    background-color: #dcdce6;;
}