@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Global */

body {
    margin: 0;
    font-family: "Arial", sans-serif;
}


.wrapper {
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    column-gap: 28px;
    row-gap: 28px;
}

.column {
    min-width: 219px;
    box-sizing: border-box;
}

.aic {
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #24242b;
    font-family: "Roboto Slab";
}

.all-contacts h1 {
    font-size: 24px;
}

h2 {
    margin: 0 0 24px 0;
    font-size: 24px;
    font-weight: 700;
    color: #24242b;
    font-family: "Roboto Slab";
}

h3 {
    font-size: 14px;
}

h3 span {
    text-transform: lowercase;
}

.all-contacts h3,
.callback h3 {
    font-weight: 700;
    font-family: "Roboto Slab";
}

.all-contacts h3 {
    margin: 16px 0 14px;
}

.box-shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

hr {
    margin: 0;
    border: none;
    border-bottom: solid 1px #cdcddd;
}

a {
    position: relative;
}

.hover_orange:hover {
    color: #fd8300;
}

.hover_grey:hover {
    background-color: #cecedd;   
}

.hover_blue:hover {
    color: #1f1f56;
}

.hover_cta:hover {
    color: #fff;
    background-color: #fd8300;
}

sup {
    font-size: 0.6em;
}

.text-right {
    text-align: right;
}

/* Header */

.header {
    position: relative;
    padding: 15.5px 0;
    background-color: #1f1f56;
}

.header ul {
    margin: 0 -14px;
    padding-left: 0;
    list-style: none;
}

.header li {
    display: inline-block;
    margin: 0 14px;
}

.menu a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
    transition: all .5s ease;
}

.social a {
    display: block;
    background: url(../img/sprites.png) no-repeat;
}

a.fb {
    width: 10px;
    height: 19px;
    background-position: 0 0;
    transition: all .5s ease;
}

a.fb:hover {
    background-position: 0 -21px;
}

a.tw {
    width: 18px;
    height: 15px;
    background-position: -32px 0;
    transition: all .5s ease;
}

a.tw:hover {
    background-position: -32px -21px;
}

a.ig {
    width: 19px;
    height: 19px;
    background-position: -12px 0;
    transition: all .5s ease;
}

a.ig:hover {
    background-position: -12px -21px;
}

.contact-info {
    padding: 25.75px 0;
}

.details {
    font-size: 14px;
    color: #fd8300;
    transition: all .5s ease;
}

.phones-top,
.messengers-top {
    padding-left: 48px;
}

.messengers-top a,
.messengers-bottom a {
    font-size: 16px;
    line-height: 24px;
    transition: all .5s ease;
}

.messengers-bottom {
    padding-left: 28px;
}

.messengers-bottom p {
    margin: 1px 0 2px;
}

.phones-top {
    position: relative;
}

.phones-bottom {
    padding-left: 27px;
}

div.phones-bottom p {
    margin-top: 3px;
}

.phones-top p,
.phones-bottom p,
.messengers-top p {
    margin: 5px 0;
}

.phones-top a.tel,
.phones-bottom a.tel {
    font: bold 18px/24px Arial;
    color: #25252c;
    text-decoration: none;
    transition: all .5s ease;
}

.phones-top a.tel:hover,
.phones-bottom a.tel:hover {
    color: #fd8300;
    text-decoration: none;
}

.tel-icon:before {
    content: "";
    position: absolute;
    left: -28px;
    top: 2px;
    width: 16px;
    height: 17px;
    background: url(../img/sprites.png) no-repeat -52px -21px;
}

div.phones-top:after {
    content: "";
    position: absolute;
    left: 238px;
    top: 6px;
    width: 1px;
    height: 51px;
    background-color: #e3e3eb;
} 


p a.mail {
    color: #25252c;
    text-decoration: underline;
}

.mail-icon:before {
    content: "";
    position: absolute;
    left: -28px;
    top: 2px;
    width: 17px;
    height: 13px;
    background: url(../img/sprites.png) no-repeat -70px -21px;
}

p a.skype {
    color: #25252c;
    text-decoration: none;
}

.skype-icon:before {
    content: "";
    position: absolute;
    left: -28px;
    top: -1px;
    width: 19px;
    height: 18px;
    background: url(../img/sprites.png) no-repeat -89px -21px;
}

.cta {
    text-align: right;
}

.cta a {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #25252c;
    text-decoration: none;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: all .5s ease;
}


.proposition {
    text-align: center;
    background: #090606 url(../img/background.jpg) center/cover;
    padding: 60px 0;
}

.prop-title {
    margin: 0 0 8px 0;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    color: #fff;
}

.prop-text {
    margin: 0 0 10px 0;
    margin-top: 0;
    font-size: 14px;
    color: #fff;
}

.prop-cost {
    margin: 0;
    color: #fd8300;
    font-size: 24px;
    font-weight: bold;
    }

.prop-cost span {
    font-size: 40px;
}

.content {
    margin: 0;
    max-width: 713px;
}

.content-price {
    margin: 0;
}

.company {
    margin: 0;
    padding: 37px 0 35px 0;
}

.company p {
    margin: 14px 0;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.price {
    margin: 0;
    padding: 33px 0 35px 0;
}

.price p {
    margin: 14px 0;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.table {
    border-collapse:collapse;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

thead {
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: left;
    color: #fff;
    background-color: #1f1f56;
}

tbody {
    font-size: 14px;
    color: #666666;
    background-color: #e4e4ec;
}

tbody tr + tr {
    border-top: 1px solid #cdcddd;
}

tbody tr:hover {
    color: #fff;
    background-color: #fd8300;
}

th {
    margin: 0;
    padding: 14.5px 20px 11.5px 20px;
}

td {
    margin: 0;
    padding: 12px 20px 11px 20px;
}

.info {
    font-size: 13px;
    color: #9999a6;
}

.details {
    font-size: 14px;
    color: #fd8300;
    transition: all .5s ease;
}

.sidebar {
    margin: 37px 0;
    min-width: 219px;
}

.aside-menu {
    position: sticky;
    top: 37px;
    border-radius: 3px;
    overflow: hidden;
}

.aside-menu p {
    margin: 0;
    padding: 11px 15px 10px;
    color: #fff;
    font: 700 16px/1.5em "Roboto Slab";
    background-color: #1f1f56;
}

.aside-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.aside-menu > ul > li + li > a {
    border-top: 1px solid #cdcddd;
}

.aside-menu > ul > li:hover > a {
    color: #fff;
    background-color: #fd8300;
}

.aside-menu > ul > li > a:before {
    content: "";
    position: absolute;
    right: 15px;
    top: 17px;
    width: 7px;
    height: 7px;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
}

.aside-menu > ul > li:hover > a:before {
    top: 15px;
    transform: rotate(45deg);
    border-color: #fff;
}

.aside-menu a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #25252c;
    background-color: #e4e4ec;
}

.aside-menu li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
}

.sub-menu a {
    padding-left: 30px;
    color: #666;
}

.sub-menu a:hover {
    background-color: #cecedd;
}

figcaption h3 {
    margin: 8px 0 6px 0;
    text-transform: uppercase;
    color: #1f1f56;
}

.figcaption p {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

.home {
    position: relative;
    margin: 0;
}

.home.row {
    margin: 0;
}

.home a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.home a:hover ~ h3 {
    text-decoration: underline;
}

.cards {
    margin: 0;
    padding: 27px 0 45px 0;
}

.all-contacts {
    padding: 35px 0 28px;
}

.all-contacts p {
    margin: 7px 0 6px 0;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.all-contacts a.tel {
    display: block;
}

.all-contacts a.mail {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
    transition: all .5s ease;
}

.all-contacts div > div {   
    padding-left: 0;
}

.contacts-columns {
    display: flex;
    justify-content: space-between;
}

.contacts-columns a.tel {
    margin: 0 0 5.5px;
    color: #25252c;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    line-height: 24px;
    transition: all .5s ease;
}

.contacts-columns a.tel:hover {
    color: #fd8300;
}

.all-contacts a.mail:hover {
    color: #fd8300;
}

.map-form {
    display: flex;
    justify-content: space-between;
    padding: 36px 0 45px;
}

.map iframe {
    width: 466px;
    height: 295px;
    border: none;
    background: #3a2660 url(../img/map.jpg) center/cover;
}

.callback h3 {
    margin: -3px 0 17px 0;
}

.callback input,
.callback textarea {
    box-sizing: border-box;
    margin: 5px 0 5px 0;
    padding: 12px 15px 11px 15px;
    border: none;
    border: solid 1px #c4c4d3;
    border-radius: 3px;
    color: #24242b;
    outline-color: #fd8300;
}

.placeholder-text {
    font-size: 13px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

.callback textarea {
    width: 466px;
    height: 105px;
    resize: none;
}

.fsname {
    display: flex;
    justify-content: space-between;
}

.fsname input {
    max-width: 228px;
}

.submit {
    display: flex;
}

input.form-send {
    padding: 13px 30px 12px 30px;
    border-radius: 21px;
    background-color: #fd8300;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 4px 30px 0 0;
}

.full-width {
    width: 100%;
}

.checkbox {
    display: flex;
    align-items: center;
}

.check {
    display: none;
}

.check + label {
    position: relative;
    padding: 7px 25px 0;
}

.check:checked + label {
    color: #24242b;
}

.check + label::before,
.check:checked + label::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
}

.check + label::before {
    width: 15px;
    height: 15px;
    left: 0;
    top: 6px;
    border: 1px solid #c5c5d4;
    border-radius: 3px;
}

.check:checked + label::after {
    width: 8px;
    height: 5px;
    left: 4px;
    top: 10px;
    border-left: 2px solid #1f1f56;
    border-bottom: 2px solid #1f1f56;
    transform: rotate(-45deg);
}

.submit label {
    font-size: 13px;
    color: #666666;
}

/* Footer */

.contacts {
    padding: 33px 0 32px 0;
    background-color: #ededf5;
}

.contacts ul {
    margin: 0;
    padding: 0;
}

.contacts li {
    list-style: none;
    color: #666666;
}

.contacts a {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    transition: all .5s ease;
}

.contacts a:hover {
    text-decoration: underline;
    color: #fd8300;
}

.copyright {
    background-color: #dcdce6;;
}

.copyright p {
    margin: 0;
    padding: 15px 0 16px 0;
    text-align: center;
    font-size: 13px;
    color: #9999a6;
}


